body {
	height: 100vh;
	background: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
	width: 100%;
}

.margin-from {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 50px;
}

