.wht
{
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 80px;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 350px;
}
.gry
{
	background-color: rgb(70,70,70);
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 80px;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 350px;
}

