.wrap
{
	margin: 30px;
}	

.header
{
	text-align: center;
}
#sub:link, #sub:visited {
  background-color: rgb(30,30,90);
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#sub:hover, #sub:active {
  background-color: rgb(60,30,50);
}


.link{
	text-align: center;
}